
		.rate{
			padding: 5px;
			border-style: groove;
			border-radius: 5px;
		}
		#rate{
			margin-left: 110px;
		}

		#content{
			width: 1000px;
			margin-left: 150px;
			margin-top: 30px;
		}
		#input_rate{
			margin-left: 30px;
			font-weight: bold;
		}
		h5{
		font-weight: bold;
		}

	    input[type="submit"] {
	    font-size: 20px;
      	background: red;
      	color: white;
      	padding: 7px;
      	margin: 10px;
      	margin-left: 550px;
      	border-radius: 10px;
	    }
	    h3{
	    	margin-top: 100px;
	    	margin-left: 330px;
	    	font-weight: bold;
	    }